<header>
  <nav class="navbar navbar-expand-lg py-4">
    <div class="container<%= (url != "/") ? '-fluid mx-5' : ''  %>">
      <a href="/">
      <% if (url === "/") { %>
        <img src="/imgs/image-logo-white.svg" width="80%" alt="Logo">
      <% } else { %>
        <img src="/imgs/image-logo.svg" width="80%" alt="Logo">
      <% } %>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav ml-auto d-flex align-items-center nav-links">
          <li class="nav-item d-flex align-items-center">
            <% if (!session.user) { %>
              <span><img src="/imgs/icon/<%= (url != "/") ? (url === "/hotel/usuario/favoritos") ? 'favorites-active' : 'favorites-black' : 'favorites' %>.svg" alt="Favoritos" class="nav-icon"></span>
            <a id="txtFavorites" class="nav-link 
            <%= (url === "/") ? 'text-white' : '' %>
            <%= (url === "/hotel/usuario/favoritos") ? 'active' : '' %> " href="/hotel/usuario/favoritos">Favoritos</a>
            <% } else { %>
            <span><img src="/imgs/icon/<%= (url != "/") ? (url === "/hotel/usuario/favoritos") ? 'favorites-active' : 'favorites-black' : 'favorites' %>.svg" alt="Favoritos" class="nav-icon"></span>
            <button id="txtFavorites" class="bg-transparent border-0"
            data-toggle="modal"
            data-target="#loginModal"><a class="nav-link 
            <%= (url === "/") ? 'text-white' : '' %>
            <%= (url === "/hotel/usuario/favoritos") ? 'active' : '' %> " >Favoritos</a></button>
            <% } %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <span><img src="/imgs/icon/<%= (url != "/") ? (url === "/hotel/recentes") ? 'recently-active' : 'recently-black' : 'recently'  %>.svg" alt="Vistos Recentemente" class="nav-icon"></span>
            <a id="txtRecently" class="nav-link 
            <%= (url === "/") ? 'text-white' : '' %>
            <%= (url === "/hotel/recentes") ? 'active' : '' %> " href="/hotel/recentes">Vistos Recentemente</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <span><img src="/imgs/icon/<%= (url != "/") ? (url === "/hotel/mapa") ? 'map-active' : 'map-black' : 'map'  %>.svg" alt="Mapa" class="nav-icon"></span>
            <a id="txtMap" class="nav-link 
            <%= (url === "/") ? 'text-white' : '' %>
            <%= (url === "/hotel/mapa") ? 'active' : '' %> " href="/hotel/mapa">Mapa</a>
          </li>
        </ul>
      </div>

      <% if (session.user) { %>
          <a href="/login/logout" class="btn <%= (url === "/") ? 'btn-outline-light' : 'btn-outline-dark' %> me-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
          </svg> Sair</a>
      <% } else { %>
        <button
          id="btnLogin"
          type="button"
          class="btn <%= (url === "/") ? 'btn-outline-light' : 'btn-outline-dark' %> me-2"
          data-toggle="modal"
          data-target="#loginModal"
        >
          Entrar
        </button>
      <% } %>

      <div class="language-currency d-flex align-items-center">
        <span><img src="/imgs/icon/<%= (url != '/') ? 'global-black' : 'global' %>.svg" alt="Global" class="nav-icon"></span>
        <span id="menuLangPortuguese" class="menuLangPortuguese <%= (url === '/') ? 'text-white' : 'text-dark' %>"> PT · R$</span>
        <span id="menuLangEnglish" class="menuLangEnglish <%= (url === '/') ? 'text-white' : 'text-dark' %>">ENG · $</span>
      </div>
    </div>
  </nav>
</header>
