<%- include ("partials/head.ejs")%>
<div class="main-wrapper">
  <section class="home">
    <%- include ("partials/header.ejs")%>
    <div class="container">
      <div class="text-center">
        <div class="section-container text-center">
          <h1 class="display-4 mb-3">Encontre a vista perfeita para a sua próxima escapada</h1>
          <p class="lead">“Sight Inn, onde cada viagem se transforma em <br> uma experiência única.”</p>
        </div>
      </div>

      <div class="search-bar">
        <div class="container">
          <form action="" method="post" class="booking-form">
            <div class="input-group-form border-end">
              <span><img src="/imgs/icon/location.svg" alt="location icon" /></span>
              <div>
                <label class="mb-0">Onde vamos?</label>
                <input type="text" id="destino" class="text-input" placeholder="Buscar destinos" />
              </div>
            </div>
            <div class="input-group-form border-end">
              <span><img src="/imgs/icon/calendar.svg" alt="calendar icon" /></span>
              <div>
                <label class="mb-0">Check-in</label>
                <input type="date" id="checkIn" />
              </div>
            </div>
            <div class="input-group-form border-end">
              <span><img src="/imgs/icon/calendar.svg" alt="calendar icon" /></span>
              <div>
                <label class="mb-0">Check-out</label>
                <input type="date" id="checkOut" />
              </div>
            </div>
            <div class="input-group-form">
              <span><img src="/imgs/icon/rooms.svg" alt="rooms icon" /></span>
              <div>
                <label class="mb-0">Quartos & Hóspedes</label>
                <input type="text" id="hospedes" class="text-input" placeholder="1 quarto, 2 hóspedes" />
              </div>
            </div>
            <button type="submit" class="btn">
              <img src="/imgs/icon/magnifying-glass.svg" />
            </button>
          </form>
        </div>
      </div>

      <div class="filter-bar">
        <div class="container-filter">
          <div class="row">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="form-group input-group-form-dropdown">
                <label for="priceRange">Faixa de Preço</label>
                <div class="input-group-filter d-flex align-items-center">
                  <input type="text" class="form-control" id="priceRange" value="R$ 2500 — R$ 8500" readonly />
                  <span class="dropdown-icon" id="price-dropdown-icon">
                    <img src="/imgs/icon/dropdown.svg" alt="dropdown-icon" />
                  </span>
                  <div id="price-filter-container" class="dropdown-menu p-3" style="display:none;">
                    <h3>Faixa de Preço</h3>
                    <div class="filter-buttons mb-5 mt-3 row">
                      <button id="daily" class="active col py-2">Diária</button>
                      <button id="total" class="col py-2">Total</button>
                    </div>
                    <div class="slider-container">
                      <div class="price-slider">
                      </div>
                    </div>
                    <div class="range-input">
                      <input type="range" class="min-range" min="0" max="10000" value="2500" step="1">
                      <input type="range" class="max-range" min="0" max="10000" value="8500" step="1">
                    </div>
                    <div class="price-input-container my-3 container">
                      <div class="price-input d-flex">
                        <div class="price-field col">
                          <input type="number" placeholder="Valor Min" class="min-input" value="2500">
                        </div>
                        <div class="price-field col">
                          <input type="number" placeholder="Valor Max" class="max-input" value="8500">
                        </div>
                      </div>
                    </div>
                    <div class="d-grid col-6 mx-auto">
                      <button id="price-filter-apply" class="btn btn-warning">OK</button>
                    </div>
                </div>
                
                </div>
              </div>
              <div class="form-group input-group-form-dropdown">
                <label for="rating">Avaliação</label>
                <div class="input-group-filter d-flex align-items-center">
                  <input type="text" class="form-control" id="rating" value="Avaliação" readonly />
                  <span class="dropdown-icon"><img src="/imgs/icon/dropdown.svg" alt="dropdown-icon" /></span>
                </div>
              </div>
              <div class="form-group input-group-form-dropdown">
                <label for="type">Tipo</label>
                <div class="input-group-filter d-flex align-items-center">
                  <input type="text" class="form-control" id="type" value="Tipo" readonly />
                  <span class="dropdown-icon"><img src="/imgs/icon/dropdown.svg" alt="dropdown-icon" /></span>
                </div>
              </div>
              <div class="form-group input-group-form-dropdown">
                <label for="location">Localidade</label>
                <div class="input-group-filter d-flex align-items-center">
                  <input type="text" class="form-control" id="location" value="Localidade" readonly />
                  <span class="dropdown-icon"><img src="/imgs/icon/dropdown.svg" alt="dropdown-icon" /></span>
                </div>
              </div>
              <div class="form-group input-group-form-dropdown align-self-end">
                <button class="btn remove-filters-btn d-flex justify-content-center align-items-center" id="removeFilters">
                  Remover Filtros
                  <span><img src="/imgs/icon/close.svg" /></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </section>

  <section class="card position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="filters">
            <div>
              <label for="location-filter">Localização:</label>
              <select id="location-filter">
                <option value="*">Todos</option>
                <option value=".Fort_Lauderdale">Fort Lauderdale</option>
                <option value=".Hollywood">Hollywood</option>
                <option value=".West_Palm_Beach">West Palm Beach</option>
                <option value=".Miami_Beach">Miami Beach</option>
                <option value=".Miami">Miami</option>
              </select>
            </div>
            <div>
              <label for="rating-filter">Classificação:</label>
              <select id="rating-filter">
                <option value="*">Todos</option>
                <option value=".rating-5">5 Estrelas</option>
                <option value=".rating-4.5">4.5 Estrelas</option>
                <option value=".rating-4">4 Estrelas</option>
              </select>
            </div>
          </div>

          <%- include ("partials/Auth.ejs")%>

          <div class="suggestion pr-3 mb-5 mb-lg-0 d-flex justify-content-between align-items-center">
            <h2 class="mt-3 mb-4 content-title d-inline-block">Sugestões</h2>
            <span>Escolha entre <%= hotels.length %> opções de hotéis</span>

          </div>
        </div>
        <%- include('partials/apartamentos.ejs') %>
      </div>
    </div>
  </section>
</div>
<%-include ("partials/footer.ejs")%> <%-include ("partials/foot.ejs")%>
